name: Run Template Tests
on:
  schedule:
    # Run every day at 08:00AM.
    - cron: '0 8 * * *'
  push:
    branches:
      - master
  repository_dispatch:
    types:
      - trigger-cron

env:
  PULUMI_TEST_OWNER: "moolumi"
  PULUMI_ACCESS_TOKEN: ${{ secrets.PULUMI_ACCESS_TOKEN }}
  AWS_REGION: "us-west-2"
  GOOGLE_CREDENTIALS: ${{ secrets.GOOGLE_CREDENTIALS }}
  LINODE_TOKEN: ${{ secrets.LINODE_TOKEN }}
  BLACK_LISTED_TESTS: "alicloud,digitalocean,azure-nextgen,kubernetes,openstack,equinix-metal"
  PULUMI_API: https://api.pulumi-staging.io
  SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
  PULUMI_VERSION: ${{ github.event.client_payload.ref }}
  ARM_CLIENT_ID:  ${{ secrets.ARM_CLIENT_ID }}
  ARM_CLIENT_SECRET: ${{ secrets.ARM_CLIENT_SECRET }}
  ARM_SUBSCRIPTION_ID:  ${{ secrets.ARM_SUBSCRIPTION_ID }}
  ARM_TENANT_ID:  ${{ secrets.ARM_TENANT_ID }}
  AZURE_LOCATION: westus

jobs:
  build:
    name: Build
    strategy:
      fail-fast: false
      matrix:
        platform: [ubuntu-latest, macOS-latest, windows-latest]
        go-version: [1.15.x]
        node-version: [10.x]
        python-version: [3.7]
        dotnet: [3.1.x]
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Install DotNet ${{ matrix.dotnet }}
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: ${{ matrix.dotnet }}
      - if: contains(matrix.platform, 'windows')
        name: DotNet clean on windows
        run: |
          dotnet nuget locals all --clear
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Set up Go ${{ matrix.go-version }}
        uses: actions/setup-go@v1
        with:
          go-version: ${{ matrix.go-version }}
      - name: Install Latest Pulumi CLI
        if: env.PULUMI_VERSION == ''
        uses: pulumi/action-install-pulumi-cli@v1.0.1
      - name: Install Specific Version of Pulumi CLI
        if: env.PULUMI_VERSION != ''
        uses: pulumi/action-install-pulumi-cli@v1.0.1
        with:
          pulumi-version: ${{ env.PULUMI_VERSION }}
      - run: pulumi version
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Python Deps
        run: |
          pip3 install pyenv-win
          pip3 install pipenv
      - name: Check out code into the Go module directory
        uses: actions/checkout@v2
      - name: Unshallow clone for tags
        run: git fetch --prune --unshallow --tags
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-region: ${{ env.AWS_REGION }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          role-duration-seconds: 3600
          role-session-name: templates@githubActions
          role-to-assume: ${{ secrets.AWS_CI_ROLE_ARN }}
      - name: Get dependencies
        run: make ensure
      - if: contains(matrix.platform, 'windows')
        name: set python env var for test runner
        env:
          PULUMI_PYTHON_CMD: python
      - name: Run tests
        run: |
          make test_templates
      - if: 'failure()'
        name: Notify Slack
        uses: 8398a7/action-slack@v3
        with:
          author_name: Failure in ${{ matrix.platform }} template Tests
          fields: repo,commit,author,action
          status: ${{ job.status }}
