name: New pull request
on:
  pull_request_target: {}

jobs:
  comment-on-pr:
    if: github.event.pull_request.head.repo.full_name != github.repository
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Comment PR
        uses: thollander/actions-comment-pull-request@main
        with:
          message: |
            PR is now waiting for a maintainer to run the template acceptance tests.

            **Note for the maintainer:** To run the acceptance tests, please comment */run-templates* on the PR
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
