name: Upgrade Templates
on:
  workflow_dispatch: {}
  repository_dispatch:
    types:
      - update-templates

env:
  GITHUB_TOKEN: ${{ secrets.PULUMI_BOT_TOKEN }}

jobs:
  build:
    name: Update Templates
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v2
      - name: Update Template Versions
        run: |
          cd generator
          ./generate-go-mod.sh
      - name: Prepare git branch
        run: |
          git config --local user.email "bot@pulumi.com"
          git config --local user.name "pulumi-bot"
          git checkout -b templates/${{ github.run_id }}-${{ github.run_number }}
          git add .
          git commit -m "Regenerating templates for updated go.mod files"
          git push origin templates/${{ github.run_id }}-${{ github.run_number }}
#      - name: pull-request
#        uses: repo-sync/pull-request@v2
#        with:
#          source_branch: "templates/${{ github.run_id }}-${{ github.run_number }}"
#          destination_branch: "master"
#          pr_title: "Regenerating Templates based on go.mod changes"
#          pr_body: "Automated PR"
#          github_token: ${{ secrets.PULUMI_BOT_TOKEN }}